/*  样式优先级（针对同一种样式规则(例如：都是标签选择器)的同一个样式而言）：就近原则。
    [!important]可以打破就近原则，直接使用该属性。
    同时带有[!important]的情况，就近原则依然生效 */

h1 {
    color: red;
}

h2 {
    color: yellow;
}

h3 {
    color: blue;
}

span div {
    visibility: hidden;
    height: 0px;
}

body {
    background-color: #000; 
    color: whitesmoke;
}

.classTitle {
    text-align: center;
    font-size: 20px;
    font-family: Consolas, 微软雅黑;
    color: antiquewhite;
    font-weight: 600;
    font-style: italic;
}